.bannerr{
    background-image: linear-gradient(#7C90A0, #84D2F6);
    width: 100%;
    height: 963px;
   
}
.slikica{
    width: 450px; 
    height: 149px; 
}
.slikicaDIV{
    width: 450px; 
    height: 149px; 
    transform: translate(133%, -140px);
}
.Predmeti{
    display: grid;
    width: 70%;
    margin: auto;

}
.PredmetiMini{
    width:auto;
    height: 350px;
    border: 1px solid #FFF1D0;
    margin-bottom: 18px;
    border-radius: 5px;
    padding: 17px;
    color: #FFF1D0;
    

}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }