.vsebina {
     font-size: 2vw;
     padding: 30px;
}
.vsebina-naslov{
     font-size: 3vw;
     margin-bottom: 20px;
}
.vsebina-poglavje a {
    position: relative;
    text-decoration:none;
    color: black;
    font-size: 1.5vw;
    font-weight: bold;
 }
.vsebina-poglavje a:link{
      text-decoration:none;
      color: black;
 }
.vsebina-poglavje a:hover{
      text-decoration:none;
      color: black;
 }
.vsebina-poglavje a:after{
      content: "";
      position: absolute;
      background-color: palevioletred;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -5px;
      transition: 0.3s;
 }
 
  
.vsebina-poglavje a:hover:after{
      width: 100%;
 }

 .gradivo{
      margin-top: 10px;
      margin-bottom: 10px;
  
 }
 .gradivo-item{
      padding-left: 15px;
      
 }.gradivo a {
     position: relative;
     text-decoration:none;
     color: grey;
     font-size: 1.4vw;
     
  }
 .gradivo a:link{
       text-decoration:none;
       color: grey;
  }
 .gradivo a:hover{
       text-decoration:none;
       color: black;
  }
 .gradivo a:after{
       content: "";
       position: absolute;
       background-color: palevioletred;
       height: 3px;
       width: 0;
       left: 0;
       bottom: -5px;
       transition: 0.3s;
  }
.plusek{
     border: 1px solid black;
     border-radius: 6px;
     margin-top: 10px;
     font-size: 35px;
     padding: 2px;
     width: 35px;
     height: 35px;
     display: flex;
     justify-content: center;
     text-align: center;
     vertical-align: middle;
}
.plusek:hover{
     background-color: green;
}
.asd{
    width: 0%;
    display: block;
}
